{% extends 'base.html' %}
{% block head %}

    <style>
        body {
            background: url(/static/img/bear.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>

{% endblock %}
{% block body %}

  <!-- Nav to Bear map -->

    <div class="row">

        <div class="col-sm-4">
            <div id="bearlink"><a href="/bears">TRACKING POLAR BEARS</a></div>
        </div>


        <!-- Empty -->

        <div class="col-sm-8">

        </div>

    </div>

{% endblock %}